@charset "utf-8";
/* CSS Document */

body {
	font-family: "lucida Grande",Verdana,"Microsoft YaHei";
	font-size: 12px;
	margin-left: 0px;
}
		a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
	a {
    background-color: transparent;
}