@charset "utf-8";
/* CSS Document */

/*header*/
.header {
    position: static;
	min-width: 1070px;
	position: fixed;
    _position: static;
	left: 0px;
    right: 0px;
    top: 0px;
    height: 69px;
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px solid #d6dfea;
    background: #FFDAB9;
}
.logo{
	height: 69px;
	margin-left: 45px;
	background-image:url("img/logo.png");
	background-size:contain;
	background-repeat: no-repeat;
}
.header a, .footer a {
    color: #1d5494;
}
a {
    color: #225592;
    text-decoration: none;
}
.header_link {
    padding-right: 40px;
	    overflow: hidden;
    margin-top: 20px;
    padding-right: 17px;
    line-height: 30px;
    text-align: right;
    color: #b6b6b6;
}

/*footer*/
.footer {
    position: static;
    min-width: 1070px;
    position: fixed;
    _position: static;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
    clear: both;
    line-height: 36px;
    text-align: center;
    color: #b6b6b6;
    background-color: #FFDAB9;
    border-top: 1px solid #d6dfea;
}

